<h3>Pages index </h3>
<p>Hi, I'm a regular template and I am rendered by the index action</p>
<div>
  <%= link_to "Template with no action", has_template_pages_path %>
</div>
<div>
  <%= link_to "No action and no template", has_no_template_pages_path %>
</div>
